<div class="modal fade" tabindex="-1" role="dialog" id="columnModalDialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header alert alert-primary">
        <h4 class="modal-title w-100 text-center" id="modal-basic-title">
          {{ is_update ? 'Update' : 'Add' }} column
        </h4>
      </div> <!-- MODAL HEADER -->
      <div class="modal-body">
        <form
          [formGroup]="form">
          <div class="form-group">
          <label for="col_title">Title</label>
          <input type="text"
                 class="form-control"
                 id="col_title"
                 name="col_title"
                 formControlName="col_title"
                 [value]="column.title"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.col_title.errors }"> <!-- TITLE -->
          <div *ngIf="submitted && form.controls.col_title.errors" class="invalid-feedback">
              <div *ngIf="form.controls.col_title.errors.required">Title is required</div>
              <div *ngIf="form.controls.col_title.errors.maxLength">Title length must be less than 75 characters</div>
          </div><!--  IF ERRORS IN TITLE -->
        </div><!-- FORM GROUP TITLE -->
        </form><!-- FORM -->
      </div> <!-- MODAL BODY-->
      <div class="modal-footer">
        <div class="row w-100">
          <div class="col">
            <button type="button" class="btn btn-outline-primary"
                    (click)="closeModal()">
              Save
            </button><!-- MODAL FOOTER OK BUTTON -->
          </div><!-- MODAL FOOTER OK COL -->
          <div class="col">
            <button type="button" class="btn btn-outline-danger float-right"
                    (click)="cancelModal()">
              Cancel
            </button><!-- MODAL FOOTER CANCEL BUTTON -->
          </div><!-- MODAL FOOTER CANCEL COL -->
        </div><!-- MODAL FOOTER ROW -->
      </div> <!-- MODAL FOOTER -->
    </div> <!-- MODAL CONTENT -->
  </div> <!-- MODAL DIALOG -->
</div> <!-- MODAL ROOT -->

