:host-context(.bg-dark) .kebab > .dots > figure {
  background: white; }
:host-context(.bg-dark) .kebab > .dots > .cross {
  color: black; }

.kebab {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .kebab .dots {
    cursor: pointer; }
    .kebab .dots figure {
      width: 6px;
      height: 6px;
      border-radius: 5px;
      background: #343a40;
      margin: 3px 0;
      top: auto; }

.middle {
  transition: all 0.25s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  transform: scale(1);
  position: relative;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
  -webkit-filter: blur(0.1px);
  filter: blur(0.1px); }

.middle.active {
  transform: scale(4.5);
  transition: all 0.25s cubic-bezier(0.32, 2.04, 0.85, 0.54);
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12); }

.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: -1px;
  color: white;
  transition: all 0.2s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  font-size: 22px;
  user-select: none; }

.cross.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.15s cubic-bezier(0.32, 2.04, 0.85, 0.54); }

.dropdown {
  position: absolute;
  z-index: 99999;
  right: 0;
  top: 3em;
  transition: all 0.25s ease-out;
  transform: scale(0);
  transform-origin: 100% 0;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  padding: 0; }
  .dropdown li {
    display: block;
    width: 100%; }
    .dropdown li .option {
      width: 100%;
      padding: 1em 18px;
      display: inline-block;
      white-space: pre;
      box-sizing: border-box; }
      .dropdown li .option:hover {
        background: #99caff; }
  .dropdown:hover ul {
    transform: scale(1); }

.dropdown.active {
  transform: scale(1);
  transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8); }

/*# sourceMappingURL=three-dots-menu.component.css.map */
