<div class="container-fluid h-100 forgot-content">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-4 align-self-center">

      <h2>
        CHANGE YOUR PASSWORD
      </h2> <!-- TITLE -->

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="up">Password</label>
          <input type="password" class="form-control" id="up" name="up"
                 formControlName="up"
                 [value]="password"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.up.errors }"> <!-- USER PASSWORD -->
          <div *ngIf="submitted && form.controls.up.errors" class="invalid-feedback">
              <div *ngIf="form.controls.up.errors.required">Password is required</div>
              <div *ngIf="form.controls.up.errors.minlength">Password must be at least 4 characters</div>
          </div> <!--  IF ERRORS IN USER PASS -->
        </div> <!--  PASSWORD FORM GROUP -->

        <div class="form-group">
          <label for="up2">Repeat password</label>
          <input type="password" class="form-control" id="up2" name="up2"
                 formControlName="up2"
                 [value]="password2"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.up.errors }"> <!-- USER PASSWORD -->
          <div class="invalid-feedback"
               *ngIf="submitted && form.controls.up.errors" >
              <div *ngIf="form.controls.up2.errors.required">Password is required</div>
              <div *ngIf="form.controls.up2.errors.minlength">Password must be at least 4 characters</div>
          </div> <!--  IF ERRORS IN USER PASS -->
        </div> <!--  REPEAT PASSWORD FORM GROUP -->

        <div class="row align-items-center">
          <div class="col">
            <button type="submit" class="btn btn-primary">SEND</button>
          </div><!-- SEND BUTTON COL -->
        </div><!--  FIRST FOOTER ROW -->

        <!-- HONEY POT FIELDS -->
        <label for="password" class="hpf">Password</label>
        <input type="password"
               class="form-control hpf"
               id="password"
               name="password">
        <label for="password2" class="hpf">Repeat password</label>
        <input type="password"
               class="form-control hpf"
               id="password2"
               name="password2">
        <!-- END HONEY POT FIELDS -->
      </form> <!-- FORM -->

      <app-simple-modal #simpleModal (closeModalEventEmitter)="closeModal()"></app-simple-modal> <!-- MODAL -->

    </div><!-- MAIN COL -->
  </div><!-- MAIN ROW -->
</div><!-- MAIN CONTAINER -->

