<div class="container-fluid h-100 forgot-content">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-4">

      <h2>
        FORGOT YOUR PASSWORD?
      </h2> <!-- TITLE -->
      <small>
        Don't worry. Reset your password is easy, just tell us your mail and press the submit button.
      </small><!-- SUBTITLE -->
      <form
        [formGroup]="form" (ngSubmit)="sendMail()">

        <div class="form-group mt-2">
          <label for="um">Email</label>
          <input type="email" class="form-control" id="um" name="um"
                 formControlName="um"
                 [value]="mail"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.um.errors }"> <!-- USER MAIL -->
          <div *ngIf="submitted && form.controls.um.errors" class="invalid-feedback">
              <div *ngIf="form.controls.um.errors.required">Email is required</div>
              <div *ngIf="form.controls.um.errors.email">Email must be a valid email address</div>
          </div><!--  IF ERRORS IN USER MAIL -->
        </div> <!-- EMAIL FORM GROUP -->

        <div class="row align-items-center mt-2">
          <div class="col">
            <button type="submit" class="btn btn-primary">
              Send
            </button>
          </div><!-- SEND COL -->
          <div class="col text-right">
            <a [routerLink]="['/']">
              Go to login
            </a>
          </div><!-- GO TO LOGIN LINK COL -->
        </div><!--  FIRST FOOTER ROW -->

        <!-- HONEY POT FIELDS -->
        <label for="mail" class="hpf">Email</label>
        <input type="email"
               class="form-control hpf"
               id="mail"
               name="mail">
        <!-- END HONEY POT FIELDS -->
      </form> <!-- FORM -->

      <app-simple-modal #simpleModal (closeModalEventEmitter)="closeModal()"></app-simple-modal> <!-- MODAL -->

    </div><!-- MAIN COL -->
  </div><!-- MAIN ROW -->
</div><!-- MAIN CONTAINER -->

