.sidebar-menu {
  position: fixed;
  max-width: 15rem;
  display: block;
  height: 100%;
  left: -30%;
  transition: left .5s ease-in-out;
  z-index: 9;

  &.show {
    left: 0;
    transition: left .5s ease-in-out;
  }

  & .list-item {
    font-size: x-large;
    padding-left: 1rem;
  }

  & ul {
    list-style-type: none;
    & li {
      list-style-type: none;
      display: inline-flex;
      align-items: center;
      color: white;
    }
  }
}

.font-size-x-large{
  font-size: xx-large;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-gray {
  background: #5a6268 ;
}
