<div class="container-fluid height-100 register-content">
  <div class="row justify-content-center align-items-center height-100">
    <div class="col-4 align-self-center">

      <img src="../../../assets/static/logo.png" class="img-fluid logo" alt="Logo"> <!-- LOGO -->

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="um">Email</label>
          <input type="email" class="form-control" id="um" name="um"
                 formControlName="um"
                 [value]="user.mail"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.um.errors }"> <!-- USER MAIL -->
          <div *ngIf="submitted && form.controls.um.errors" class="invalid-feedback">
              <div *ngIf="form.controls.um.errors.required">Email is required</div>
              <div *ngIf="form.controls.um.errors.email">Email must be a valid email address</div>
              <div *ngIf="form.controls.um.errors.maxLength">Email length must be less than 255 characters</div>
          </div><!--  IF ERRORS IN USER MAIL -->
        </div><!-- EMAIL FORM GROUP -->
        <div class="form-group">
          <label for="up">Password</label>
          <input type="password" class="form-control" id="up" name="up"
                 formControlName="up"
                 [value]="user.password"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.up.errors }"> <!-- USER PASSWORD -->
          <div *ngIf="submitted && form.controls.up.errors" class="invalid-feedback">
              <div *ngIf="form.controls.up.errors.required">Password is required</div>
              <div *ngIf="form.controls.up.errors.minlength">Password must be at least 4 characters</div>
              <div *ngIf="form.controls.up.errors.maxLength">Password length must be less than 255 characters</div>
          </div> <!--  IF ERRORS IN USER PASS -->
        </div> <!--  PASSWORD FORM GROUP -->
        <div class="form-group">
          <label for="up_2">Repeat password</label>
          <input type="password" class="form-control" id="up_2" name="up_2"
                 formControlName="up_2"
                 [value]="userPass2"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.up_2.errors }"> <!-- USER PASSWORD -->
          <div *ngIf="submitted && form.controls.up_2.errors" class="invalid-feedback">
              <div *ngIf="form.controls.up_2.errors.required">Password is required</div>
              <div *ngIf="form.controls.up_2.errors.minlength">Password must be at least 4 characters</div>
              <div *ngIf="form.controls.up2.errors.maxLength">Password length must be less than 32 characters</div>
          </div> <!--  IF ERRORS IN USER PASS -->
        </div> <!--  PASSWORD 2 FORM GROUP -->
        <div class="form-group">
          <label for="un">Name</label>
          <input type="text" class="form-control" id="un" name="un"
                 formControlName="un" [value]="user.name"> <!-- USER NAME -->
          <div *ngIf="submitted && form.controls.un.errors" class="invalid-feedback">
              <div *ngIf="form.controls.un.errors.maxLength">Name length must be less than 75 characters</div>
          </div><!--  IF ERRORS IN USER MAIL -->
        </div><!-- NAME FORM GROUP -->
        <div class="form-group">
          <label for="av">Avatar</label>
          <input type="file" class="form-control" id="av" name="av"
                 formControlName="av"
                 [value]="avatarFile"
                 (change)="onFileChange($event)"> <!-- USER AVATAR -->
        </div> <!--  AVATAR FORM GROUP -->

        <div class="row align-items-center">
          <div class="col">
            <button type="submit" class="btn btn-primary">SIGN UP</button>
          </div>
          <div class="col text-right">
            <a [routerLink]="['/']">Go to login</a>
          </div>
        </div><!--  FIRST FOOTER ROW -->

        <!-- HONEY POT FIELDS -->
        <label for="mail" class="hpf">Email</label>
        <input type="email"
               class="form-control hpf"
               id="mail"
               name="mail">
        <label for="password" class="hpf">Password</label>
        <input type="password"
               class="form-control hpf"
               id="password"
               name="password">
        <label for="password2" class="hpf">Password</label>
        <input type="password"
               class="form-control hpf"
               id="password2"
               name="password2">
        <label for="name" class="hpf">Name</label>
        <input type="text"
               class="form-control hpf"
               id="name"
               name="name">
        <label for="avatar" class="hpf">Avatar</label>
        <input type="file"
               class="form-control hpf"
               id="avatar"
               name="avatar">
        <!-- END HONEY POT FIELDS -->

      </form> <!-- FORM -->

      <!--suppress JSUnusedGlobalSymbols -->
      <app-simple-modal #simpleModal (closeModalEventEmitter)="closeModal()"></app-simple-modal> <!-- MODAL -->

    </div><!-- MAIN COL -->
  </div><!-- MAIN ROW -->
</div><!-- MAIN CONTAINER -->
