
<div class="card h-auto mb-3 shadow-sm cursor-pointer"
     (click)="clickCard(task)"
     *ngFor="let task of taskList">
  <div class="card-body">
    <h5 class="card-title">
      {{ task.title }}
    </h5><!-- CARD TITLE -->
    <h6 class="card-subtitle mb-2 text-muted">
      {{ task.assignment ? task.assignment.name : 'Not assigned' }}
    </h6><!-- CARD SUBTITLE -->
    <p class="card-text">
      {{ task.summary }}
    </p><!-- CARD SUMMARY -->
  </div><!-- CARD BODY -->
  <div class="card-footer">
    <div class="row">
      <div class="col text-left">
        {{ task.expirationDate ? (task.expirationDate | date) : 'Without expiration date' }}
      </div><!-- CARD EXPIRATION DATE COL -->
      <div class="col offset-9 text-right">
        <div class="badge badge-primary">
          {{ task.tag ? task.tag.title : '' }}
        </div>
      </div><!-- CARD TAG COL -->
    </div><!-- FOOTER ROW -->
  </div><!-- CARD FOOTER -->
</div><!-- TASK CARDS -->

