<section
  [ngClass]="{ 'main-content-section': true, 'showed-menu': menuShowed }">
  <div class="router-outlet"
       [@fadeIn]="animationState">
    <router-outlet
      (activate)="changeAnimationState(true)"
      (deactivate)="changeAnimationState(false)">
    </router-outlet><!-- ROUTER OUTLET -->
  </div><!-- ROUTER OUTLET CONTAINER -->
</section><!-- MAIN SECTION -->
