<div class="app-main-wrapper">
  <header *ngIf="showToolbar">
    <app-toolbar
      (isSideMenuShowedEvEmit)="showOrHideSideMenu($event)"
      (addColumnEmmit)="showColumnPopUp()">
    </app-toolbar><!-- TOOLBAR -->
  </header><!-- HEADER -->
  <section class="main-content-wrapper">
    <app-sidebar-menu
      [isSideMenuShowed]="isSideMenuShowed"
      [menuOptions]="menuOptions"
      (optionMenuSelected)="sidebarMenuOptionClick($event)">
    </app-sidebar-menu><!-- SIDEBAR MENU -->
    <app-main-content
      [menuOpened] = isSideMenuShowed>
    </app-main-content><!-- MAIN CONTENT -->
    <app-add-column-modal
      #columnModal
      (closeModalEventEmitter)="createColumn($event)">
    </app-add-column-modal><!-- COLUMN MODAL -->
    <app-simple-modal
      #simpleModal>
    </app-simple-modal> <!--ERROR  MODAL -->
  </section><!-- MAIN CONTENT WRAPPER -->
</div><!-- MAIN APP WRAPPER -->
